@using Frete4U.Models
@model IEnumerable<Frete4U.Models.tb_cd_prestador>

@{
    ViewBag.Title = "Buscar";
}
<h1>@ViewBag.Title</h1><hr />
<div class="container" style="margin-top:10px;">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
            @using (Html.BeginForm())
            {
                <p style="color: red">
                    Campo de teste - Pesquisa por nome: @Html.TextBox("SearchString")
                    <button class="btn btn-default btn-success" type="submit">
                        Buscar
                    </button>
                </p>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
            <input type="text" name="endOrigem" id="endOrigem" class="form-control nowidth" , placeholder="  Endereço de Origem" />
        </div>
    </div>
    <div class="row" style="margin:10px -15px 8px -15px;">
        <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
            <input type="text" name="endDestino" id="endDestino" class="form-control nowidth" , placeholder="  Endereço de Destino" />
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12" style="margin:0 !important; padding:0 !important;">
        <div class="panel panel-default">
            <button class="btn btn-amarelo" style="width:100%; border-radius:0;" onclick="if ($('.mostrar').is(':visible')) { $('.mostrar').hide('fast'); $('#icon').removeClass('glyphicon-minus'); $('#icon').addClass('glyphicon-plus') } else { $('.mostrar').show('fast'); $('#icon').removeClass('glyphicon-plus'); $('#icon').addClass('glyphicon-minus') }">
                <span style="float:left;">Filtros <span id="icon" class="glyphicon glyphicon-plus"></span></span>
            </button>
            <div class="row mostrar" style="margin:20px 0;  display:none;">
                <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12">
                    <div>
                        <ul>
                            <li>
                                <b>Tipo de entrega:</b>
                                <ul>
                                    <li><label class="cursor"><input type="checkbox" />  Pequenas entregas</label></li>
                                    <li><label class="cursor"><input type="checkbox" />  Delivery(Comida)</label></li>
                                    <li><label class="cursor"><input type="checkbox" />  Mudança</label></li>
                                    <li><label class="cursor"><input type="checkbox" />  Frete(Grande porte)</label></li>
                                    <li><label class="cursor"><input type="checkbox" />  Guicho</label></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12">
                    <div>
                        <ul>
                            <li>
                                <b>Tipo de veiculo:</b>
                                <ul>
                                    <li><label class="cursor"><input type="checkbox" />  Moto</label></li>
                                    <li><label class="cursor"><input type="checkbox" />  Caminhonete</label></li>
                                    <li><label class="cursor"><input type="checkbox" />  Furgão</label></li>
                                    <li><label class="cursor"><input type="checkbox" />  Reboque</label></li>
                                    <li><label class="cursor"><input type="checkbox" />  Caminhão</label></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12">
                    <div>
                        <ul>
                            <li>
                                <b>Tipo de produto:</b>
                                <ul>
                                    <li><label class="cursor"><input type="checkbox" />  Encomenda</label></li>
                                    <li><label class="cursor"><input type="checkbox" />  Móveis</label></li>
                                    <li><label class="cursor"><input type="checkbox" />  Veiculo</label></li>
                                    <li><label class="cursor"><input type="checkbox" />  Frágil</label></li>
                                    <li><label class="cursor"><input type="checkbox" />  Inflamável</label></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12">
                    <div>
                        <ul>
                            <li>
                                <b>Volume:</b>
                                <ul>
                                    <li><label class="cursor"><input type="checkbox" />  Pequeno</label></li>
                                    <li><label class="cursor"><input type="checkbox" />  Médio</label></li>
                                    <li><label class="cursor"><input type="checkbox" />  Grande</label></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @{
        ViewBag.Title = "Resultados";
    }
    <div id="divResultadosBusca">
        <h1>@ViewBag.Title</h1><hr />

        <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12" style="margin:0 !important; padding:0 !important;">

            @foreach (var item in Model)
            {
                <div class="panel panel-default">
                    <div class="row" style="margin:20px 0;">
                        <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12">
                            <center><img src="http://www.avvocatomanfredi.it/wp-content/uploads/2013/07/user-avatar.jpg" width="150" height="150" class="img-rounded"></center>
                        </div>
                        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                            <h2>@Html.DisplayFor(modelItem => item.nomeEmpresa)</h2>
                        </div>
                        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12" style="height:30px !important;">
                            <h4 style="margin:0;">Contato: @Html.DisplayFor(modelItem => item.nome)</h4><br />
                        </div>
                        <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">
                            <h3>Cidades Atendidas</h3>
                            @foreach (var itemcidades in item.tb_cd_cidades)
                            {
                                <p>@Html.DisplayFor(modelItem => itemcidades.nom_cidade)</p>
                            }
                        </div>
                        <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">
                            <h3>Serviços Oferecidos</h3>
                            @foreach (var itementregas in item.tb_cd_tipo_entrega)
                            {
                                <p>@Html.DisplayFor(modelItem => itementregas.descricao)</p>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>